:root {
  --color-white: #ffffff;
  --color-dark: rgb(36, 36, 36);
  --color-shadow: rgb(75, 75, 75);
  --color-shadow-none: none;
  --color-shadow-libary: rgb(202, 202, 202);
  --color-shadow-libary-none: none;
}
